In [1]:
#import libraries

import yfinance as yf
import pandas as pd

In [2]:
#Load in Data

raw_df = pd.read_csv('IPO.csv', encoding= 'unicode_escape')
raw_df

/Users/zecjohnson/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1342,1425,1432,1543,1546,1549,1551,1552,1553,1562,1587,1588,1605,1608,1615,1619,1620,1621,1622,1629,1630,1632,1633,1640,1641,1642,1643,1644,1646) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,ZUMZ,139,261,200+,NaN,2005,5,6,4,12.4350,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,1,234.0,1
3758,ZUO,5,7,0 - 49,NaN,2018,4,12,3,20.0000,...,NaN,mostly_male,Unknown,Unknown,2001 - 2010,Unknown,0,0,NaN,0
3759,ZX,102,25,0 - 49,1035.0,2011,5,12,3,5.8500,...,Unknown,Unknown,Unknown,Unknown,2001 - 2010,Unknown,0,0,NaN,0
3760,ZYME,115,19,0 - 49,NaN,2017,4,28,4,13.0000,...,Unknown,Unknown,Unknown,Unknown,2001 - 2010,Unknown,0,0,NaN,0
3761,ZYNE,104,42,0 - 49,3108.0,2015,8,5,2,16.2500,...,50 - 59,male,50 - 59,female,2001 - 2010,Unknown,0,0,NaN,0

In [3]:
#Taking only the features we need to conduct analysis

df = raw_df.loc[:, ["Symbol", "Year", "Month", "Day", "dayOfWeek", "closeDay0", "highDay0",
                    "openDay0", "lowDay0", "volumeDay0", "closeDay260", "highDay260", "openDay260",
                    "lowDay260", "volumeDay260", "Sector", "Industry", "exactDateFounded"]]
df

,Symbol,Year,Month,Day,dayOfWeek,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,closeDay260,highDay260,openDay260,lowDay260,volumeDay260,Sector,Industry,exactDateFounded
0,A,1999,11,18,3,28.6358,33.5207,27.3725,30.6572,59753154.0,28.0462,29.4363,27.7936,28.9323,2944860.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments,"May,1999"
1,AAC,2014,10,2,3,18.5000,20.1000,17.6000,20.0000,2799073.0,22.5900,22.6900,22.1100,22.2700,197468.0,Health Care,Medical Specialities,"February,12,2014"
2,AAOI,2013,9,26,3,9.9600,10.0900,9.3700,10.0000,948999.0,16.9600,17.9400,16.9100,17.7300,177655.0,Technology,Semiconductors,"February,28,1997"
3,AAP,2001,11,29,3,13.9000,14.4667,13.3833,13.4000,371100.0,17.3033,17.3033,16.7000,16.7000,0.0,Consumer Services,Other Specialty Stores,1929
4,AAT,2011,1,13,3,21.2500,22.0000,21.1800,21.5300,15536889.0,20.4300,20.8000,20.0900,20.8000,142910.0,Consumer Services,Real Estate Investment Trusts,"July,16,2010"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,ZUMZ,2005,5,6,4,12.4350,12.5750,10.2500,10.2750,6793424.0,34.8200,35.8900,34.5500,35.4600,138372.0,Consumer Services,Clothing/Shoe/Accessory Stores,"August,1978"
3758,ZUO,2018,4,12,3,20.0000,21.8500,19.1200,20.0000,13102419.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
3759,ZX,2011,5,12,3,5.8500,6.2000,5.6000,6.0000,4987284.0,3.4700,3.5700,3.4300,3.5200,3849.0,Capital Goods,Auto Parts:O.E.M.,"July,11,2008"
3760,ZYME,2017,4,28,4,13.0000,14.2500,13.0000,13.5000,953887.0,NaN,NaN,NaN,NaN,NaN,Health Care,Major Pharmaceuticals,2003
3761,ZYNE,2015,8,5,2,16.2500,22.2500,15.5000,18.0000,1535500.0,9.4300,9.5000,8.7100,8.9000,160015.0,Health Care,Major Pharmaceuticals,"January,31,2007"

In [4]:
#analyzing the data

df.describe()

,Year,Month,Day,dayOfWeek,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,closeDay260,highDay260,openDay260,lowDay260,volumeDay260
count,3762.000000,3762.000000,3762.000000,3762.000000,3.762000e+03,3.559000e+03,3.559000e+03,3.507000e+03,3.749000e+03,3.506000e+03,3.450000e+03,3.450000e+03,3.420000e+03,3.493000e+03
mean,2008.578416,6.670122,16.756512,2.416268,1.512036e+06,1.634217e+06,1.454717e+06,1.417319e+06,5.550720e+07,2.097202e+06,2.157080e+06,2.103948e+06,1.859581e+06,5.131380e+05
std,6.532543,3.323697,8.906214,1.289118,6.734479e+07,7.175942e+07,6.534261e+07,7.085643e+07,2.800610e+09,1.016430e+08,1.036840e+08,1.011845e+08,1.016188e+08,4.000447e+06
min,1996.000000,1.000000,1.000000,0.000000,4.000000e-04,4.000000e-04,4.000000e-04,4.000000e-04,0.000000e+00,1.000000e-04,1.000000e-04,1.000000e-04,1.000000e-04,0.000000e+00
25%,2004.000000,4.000000,9.000000,1.000000,1.047250e+01,1.063250e+01,9.950000e+00,1.006000e+01,8.400000e+03,1.005098e+01,1.028250e+01,1.000000e+01,1.020000e+01,5.515000e+03
50%,2010.000000,7.000000,17.000000,3.000000,1.701810e+01,1.725000e+01,1.550000e+01,1.643800e+01,9.052000e+05,1.780000e+01,1.811315e+01,1.759000e+01,1.786000e+01,5.204600e+04
75%,2014.000000,10.000000,25.000000,3.000000,2.508997e+01,2.524000e+01,2.440000e+01,2.491000e+01,5.379050e+06,2.802250e+01,2.831000e+01,2.774902e+01,2.792250e+01,2.460000e+05
max,2018.000000,12.000000,31.000000,4.000000,4.006800e+09,4.161780e+09,3.817800e+09,4.158000e+09,1.710000e+11,5.938380e+09,6.010200e+09,5.862780e+09,5.934600e+09,1.560415e+08

In [5]:
#dropped over 1000 rows, but now we have congruity with 2564 rows with all the data

df = df.dropna()

df.describe()

,Year,Month,Day,dayOfWeek,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,closeDay260,highDay260,openDay260,lowDay260,volumeDay260
count,2564.000000,2564.000000,2564.000000,2564.000000,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03,2.564000e+03
mean,2007.822153,6.723089,15.789002,2.484399,1.681762e+06,1.742227e+06,1.601097e+06,1.735746e+06,1.351804e+07,2.472167e+06,2.506798e+06,2.437662e+06,2.474995e+06,5.895043e+05
std,6.544809,3.363258,8.744004,1.259591,7.926190e+07,8.231756e+07,7.551951e+07,8.223199e+07,2.553785e+08,1.174260e+08,1.188576e+08,1.159239e+08,1.173612e+08,3.978929e+06
min,1996.000000,1.000000,1.000000,0.000000,4.000000e-04,4.000000e-04,4.000000e-04,4.000000e-04,0.000000e+00,1.000000e-04,1.000000e-04,1.000000e-04,1.000000e-04,0.000000e+00
25%,2002.000000,4.000000,9.000000,2.000000,9.997500e+00,1.025000e+01,9.550000e+00,1.000000e+01,5.842600e+04,8.936000e+00,9.100000e+00,8.820000e+00,8.970000e+00,7.218750e+03
50%,2009.000000,7.000000,16.000000,3.000000,1.554000e+01,1.648000e+01,1.478000e+01,1.550000e+01,1.968028e+06,1.636180e+01,1.675000e+01,1.612375e+01,1.637330e+01,6.985550e+04
75%,2014.000000,10.000000,23.000000,4.000000,2.486563e+01,2.575000e+01,2.399250e+01,2.471250e+01,7.045824e+06,2.753250e+01,2.800000e+01,2.702000e+01,2.750000e+01,3.110015e+05
max,2017.000000,12.000000,31.000000,4.000000,4.006800e+09,4.161780e+09,3.817800e+09,4.158000e+09,1.244767e+10,5.938380e+09,6.010200e+09,5.862780e+09,5.934600e+09,1.560415e+08

In [6]:
#converting year, month, date columns to a single column named IPODATE
#converting IPODATE into Y - M - D, A format that yfinance can read

df['IPODATE'] = pd.to_datetime(df[['Year', 'Month', 'Day']])
df['IPODATE'] = df['IPODATE'].apply(lambda x: x.strftime('%Y-%m-%d'))

/var/folders/gm/3b8nnv1919xfqk_n051lj_1m0000gn/T/ipykernel_30737/3080225214.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IPODATE'] = pd.to_datetime(df[['Year', 'Month', 'Day']])
/var/folders/gm/3b8nnv1919xfqk_n051lj_1m0000gn/T/ipykernel_30737/3080225214.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IPODATE'] = df['IPODATE'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [7]:
#making list from IPODATE for easier conversion

ipoDATE = df['IPODATE'].tolist()
ipoDATE

['1999-11-18',
 '2014-10-02',
 '2013-09-26',
 '2001-11-29',
 '2011-01-13',
 '2001-06-04',
 '2004-07-21',
 '2010-07-20',
 '1999-07-23',
 '2012-12-10',
 '2009-12-09',
 '1996-08-01',
 '2002-03-14',
 '2004-04-07',
 '2015-10-08',
 '2007-07-23',
 '2015-11-09',
 '2004-05-27',
 '2015-11-02',
 '2004-08-12',
 '2005-08-09',
 '2004-10-05',
 '2016-09-23',
 '2001-12-11',
 '2011-11-01',
 '2006-10-26',
 '2016-05-13',
 '2000-07-11',
 '2007-05-10',
 '2001-07-19',
 '2006-02-10',
 '2012-04-26',
 '2015-10-07',
 '2011-02-11',
 '2011-05-06',
 '2002-12-16',
 '2015-05-06',
 '2003-10-22',
 '2013-10-17',
 '2014-04-10',
 '2016-10-17',
 '2015-04-15',
 '2001-06-08',
 '2016-10-06',
 '2014-07-31',
 '1997-08-15',
 '2003-12-04',
 '1998-11-06',
 '2006-11-21',
 '2013-10-25',
 '2015-06-05',
 '2000-03-07',
 '2013-02-12',
 '2016-03-17',
 '2014-09-12',
 '2006-11-13',
 '2008-10-27',
 '2000-02-04',
 '2008-10-27',
 '2013-07-24',
 '2016-04-07',
 '2014-05-07',
 '2004-04-23',
 '2015-12-17',
 '2011-01-28',
 '2014-05-23',
 '2014-03-27',
 '2008-01-23',
 '2006-05-10',
 '2013-05-08',
 '2003-12-04',
 '2013-11-06',
 '2017-01-05',
 '2016-10-11',
 '2003-08-26',
 '1997-12-23',
 '2006-12-15',
 '2015-08-06',
 '2010-04-09',
 '2016-08-12',
 '2004-02-05',
 '1999-10-29',
 '2014-03-12',
 '2014-03-20',
 '2009-09-15',
 '2015-05-28',
 '2013-05-07',
 '2011-04-19',
 '2014-05-08',
 '2014-05-02',
 '2001-01-26',
 '2006-12-08',
 '2010-04-22',
 '2013-11-18',
 '2006-11-16',
 '2014-01-28',
 '2004-05-28',
 '2009-09-21',
 '1998-12-18',
 '2015-06-26',
 '1999-11-18',
 '2012-03-15',
 '1997-04-28',
 '1996-02-28',
 '2014-11-05',
 '2012-10-10',
 '2013-05-01',
 '2014-03-21',
 '2013-12-18',
 '2007-11-07',
 '2011-06-16',
 '2014-02-13',
 '2008-09-08',
 '1997-11-21',
 '2013-08-01',
 '2011-07-27',
 '1998-05-01',
 '2016-10-06',
 '2001-02-07',
 '2005-09-15',
 '2014-06-25',
 '2010-07-22',
 '2014-03-17',
 '2010-09-28',
 '2005-11-18',
 '1998-02-27',
 '2001-02-07',
 '1997-05-15',
 '2017-01-26',
 '2011-01-26',
 '1996-02-20',
 '2011-04-20',
 '2014-06-06',
 '1996-09-26',
 '2012-10-10',
 '2011-11-17',
 '2004-05-27',
 '1998-03-12',
 '1999-09-13',
 '1996-06-20',
 '2010-03-01',
 '2001-10-30',
 '2015-05-07',
 '2006-12-08',
 '2013-08-12',
 '2010-04-29',
 '2013-03-07',
 '2007-11-09',
 '2015-05-18',
 '2011-03-30',
 '2015-06-26',
 '2006-06-30',
 '2016-09-23',
 '2011-04-01',
 '2011-11-17',
 '2016-07-20',
 '1997-03-26',
 '2009-09-08',
 '2014-03-07',
 '2013-10-10',
 '2016-04-21',
 '2005-02-04',
 '2011-04-14',
 '1996-06-20',
 '2014-06-19',
 '1997-05-28',
 '2014-05-02',
 '2007-11-08',
 '2014-02-07',
 '2009-09-24',
 '2006-01-20',
 '2000-08-03',
 '1999-08-17',
 '2000-10-11',
 '2013-12-12',
 '2000-07-28',
 '2016-10-20',
 '1996-10-16',
 '2007-12-03',
 '2000-11-17',
 '2013-08-01',
 '2008-09-17',
 '2016-09-15',
 '2010-12-17',
 '2015-01-28',
 '2014-06-13',
 '2009-08-07',
 '2012-03-29',
 '2000-09-28',
 '1998-04-28',
 '2010-07-23',
 '2008-01-29',
 '2006-06-02',
 '2014-03-21',
 '2016-12-09',
 '2013-12-11',
 '2007-09-20',
 '2007-06-12',
 '2016-06-10',
 '1999-04-23',
 '1997-08-11',
 '2016-08-05',
 '2014-10-16',
 '2005-08-05',
 '1996-10-03',
 '2003-07-23',
 '2014-10-02',
 '2007-05-03',
 '1999-05-28',
 '2002-05-23',
 '2000-01-03',
 '2014-09-23',
 '2007-01-23',
 '2010-03-12',
 '2009-08-06',
 '2015-01-30',
 '2013-11-06',
 '2006-08-02',
 '2016-02-11',
 '2006-10-12',
 '2008-04-23',
 '1996-08-09',
 '1999-01-29',
 '2003-07-01',
 '2015-11-19',
 '2014-11-12',
 '1998-05-21',
 '2014-06-13',
 '2001-11-28',
 '2006-08-08',
 '2008-09-24',
 '2017-03-24',
 '2016-10-12',
 '2016-10-11',
 '2014-09-19',
 '2001-07-20',
 '2010-11-17',
 '1999-01-13',
 '2002-08-23',
 '2004-02-27',
 '2005-12-09',
 '1997-11-25',
 '2012-03-13',
 '2000-02-11',
 '2003-06-25',
 '2010-10-21',
 '2016-06-01',
 '2004-10-28',
 '1996-03-12',
 '2013-02-06',
 '2011-12-15',
 '2002-01-08',
 '2007-10-31',
 '1998-12-15',
 '2012-02-17',
 '2013-11-06',
 '1996-12-31',
 '2002-07-25',
 '2008-03-19',
 '2004-09-23',
 '2000-08-10',
 '1998-07-10',
 '2008-10-27',
 '2012-10-04',
 '2013-01-25',
 '2005-06-24',
 '2001-08-02',
 '1997-05-16',
 '1999-12-10',
 '2002-06-25',
 '2016-02-03',
 '2007-05-23',
 '2015-03-17',
 '2015-02-06',
 '2014-07-22',
 '2000-06-28',
 '2015-10-28',
 '2005-08-05',
 '2014-02-05',
 '1996-08-15',
 '2008-01-11',
 '2010-11-17',
 '1996-10-09',
 '2005-11-22',
 '2007-07-18',
 '2011-11-10',
 '2015-11-18',
 '2015-05-20',
 '2011-01-28',
 '2016-11-01',
 '2014-03-20',
 '2014-12-18',
 '2015-06-17',
 '2005-06-22',
 '2000-01-03',
 '1999-10-01',
 '2004-07-22',
 '2012-08-08',
 '2011-10-05',
 '2015-02-13',
 '2011-07-25',
 '2013-06-19',
 '2006-03-24',
 '2013-08-09',
 '1999-07-23',
 '2007-07-16',
 '2013-09-18',
 '1999-09-13',
 '2014-06-23',
 '2005-03-15',
 '2015-05-08',
 '2016-07-20',
 '2016-09-06',
 '2014-10-30',
 '2010-06-11',
 '1996-04-02',
 '2015-01-23',
 '2013-04-19',
 '2009-04-15',
 '2015-04-30',
 '2003-12-02',
 '2008-03-04',
 '2013-04-15',
 '2007-03-22',
 '1997-01-07',
 '1998-03-25',
 '2000-08-04',
 '2015-11-05',
 '2001-01-02',
 '2013-05-23',
 '2013-10-30',
 '2009-10-07',
 '2014-10-09',
 '2015-05-01',
 '2008-12-18',
 '1999-10-20',
 '2006-03-27',
 '2017-04-03',
 '2008-10-29',
 '2013-10-02',
 '1996-05-15',
 '1996-06-21',
 '2015-05-12',
 '2015-06-16',
 '2005-11-09',
 '2010-07-12',
 '2007-06-22',
 '2004-12-14',
 '2010-07-23',
 '1997-06-18',
 '1996-01-09',
 '2017-03-09',
 '2015-05-21',
 '2003-03-24',
 '2015-06-11',
 '1997-10-07',
 '2017-04-13',
 '1996-01-10',
 '2015-06-19',
 '2007-05-16',
 '2014-10-02',
 '2008-10-22',
 '1996-02-07',
 '1996-12-12',
 '2010-03-24',
 '2000-07-28',
 '2012-10-25',
 '2014-01-31',
 '2011-08-11',
 '2013-10-22',
 '2004-12-21',
 '1996-06-12',
 '1996-06-28',
 '2015-06-25',
 '2007-12-11',
 '2007-05-02',
 '1996-10-30',
 '2014-01-27',
 '1996-03-08',
 '2006-04-12',
 '2006-07-21',
 '2007-06-04',
 '2010-06-15',
 '2014-02-05',
 '2014-06-16',
 '2015-06-19',
 '1997-02-03',
 '2007-12-17',
 '2013-08-13',
 '1998-08-18',
 '2010-10-01',
 '1996-03-14',
 '2011-06-15',
 '2009-12-11',
 '2000-04-04',
 '2005-11-11',
 '2002-02-06',
 '2015-12-21',
 '2001-10-25',
 '2014-06-18',
 '2012-02-08',
 '2016-04-15',
 '2014-09-22',
 '2014-02-20',
 '2014-07-17',
 '2015-04-15',
 '2013-06-27',
 '2008-06-24',
 '2010-04-22',
 '2005-01-21',
 '1997-02-04',
 '1998-01-29',
 '2007-02-06',
 '2007-01-22',
 '2014-01-15',
 '2000-10-18',
 '2007-02-06',
 '1996-03-29',
 '2001-02-27',
 '2001-07-26',
 '2015-11-13',
 '1997-01-31',
 '2005-01-18',
 '2017-02-21',
 '2002-11-01',
 '2005-08-11',
 '1998-12-30',
 '1998-01-26',
 '1999-04-01',
 '2014-09-24',
 '2015-07-01',
 '2014-09-12',
 '2008-05-08',
 '2012-05-03',
 '2008-02-20',
 '2000-08-11',
 '1997-05-07',
 '2013-04-05',
 '2002-11-14',
 '2004-12-14',
 '2015-05-21',
 '2011-07-28',
 '2015-03-18',
 '2001-10-17',
 '2012-02-16',
 '2013-11-13',
 '1996-10-16',
 '1996-06-28',
 '2011-11-11',
 '1997-10-22',
 '2015-07-16',
 '2013-10-04',
 '2014-11-06',
 '1997-10-15',
 '2010-01-22',
 '2003-07-17',
 '2009-12-17',
 '2000-06-21',
 '2016-07-22',
 '2016-07-22',
 '2012-07-24',
 '2003-11-10',
 '1997-02-07',
 '2007-11-16',
 '2013-09-13',
 '2014-04-15',
 '1999-10-18',
 '2009-12-10',
 '1996-06-18',
 '2014-01-14',
 '2014-09-17',
 '2017-01-12',
 '2009-04-06',
 '2016-12-19',
 '1998-12-31',
 '1999-11-05',
 '2009-11-20',
 '2014-10-24',
 '2010-04-16',
 '2015-08-11',
 '2012-04-25',
 '2015-03-25',
 '2006-01-26',
 '2007-05-25',
 '2009-09-24',
 '2017-02-10',
 '2007-05-15',
 '2005-06-14',
 '1998-06-30',
 '2016-06-02',
 '2006-06-02',
 '2011-11-16',
 '2008-12-05',
 '1997-03-14',
 '1996-04-11',
 '2014-05-08',
 '1996-02-23',
 '2002-12-06',
 '2006-01-26',
 '2003-12-12',
 '2005-09-30',
 '2010-11-04',
 '2013-04-11',
 '2013-07-25',
 '2001-12-13',
 '2014-02-13',
 '2016-12-13',
 '2015-08-13',
 '2013-09-30',
 '2006-09-18',
 '2007-04-24',
 '2003-09-10',
 '2000-07-31',
 '2004-08-13',
 '2005-07-22',
 '1999-04-30',
 '2014-09-25',
 '1998-03-03',
 '2007-01-25',
 '1998-06-18',
 '2016-06-10',
 '2001-06-15',
 '2015-05-07',
 '1998-03-27',
 '2013-10-25',
 '2013-01-18',
 '2003-11-25',
 '1999-08-16',
 '2010-09-23',
 '2005-04-13',
 '2014-04-03',
 '2007-02-02',
 '2004-04-14',
 '2013-06-13',
 '2016-10-06',
 '2006-07-13',
 '2005-12-15',
 '2012-02-08',
 '2004-04-07',
 '2008-10-27',
 '2009-08-11',
 '2004-09-29',
 '2006-11-10',
 '2007-03-30',
 '2006-11-08',
 '2010-05-25',
 '2000-01-03',
 '2002-05-21',
 '2000-06-29',
 '1998-04-24',
 '2014-10-27',
 '2014-11-13',
 '2014-01-24',
 '1997-03-19',
 '2003-10-24',
 '2000-08-01',
 '2000-06-23',
 '2004-06-23',
 '1996-09-09',
 '2000-08-04',
 '2016-07-12',
 '2006-02-08',
 '2016-10-19',
 '2013-10-30',
 '2016-03-23',
 '1997-08-06',
 '2001-01-29',
 '1998-07-01',
 '1996-02-28',
 '2006-06-28',
 '2006-11-09',
 '2014-03-14',
 '2011-03-17',
 '2012-03-22',
 '2013-05-23',
 '2016-09-22',
 '1996-08-09',
 '2015-09-30',
 '1997-11-14',
 '1997-11-05',
 '1997-03-21',
 '2014-07-31',
 '2015-10-08',
 '2014-05-29',
 '2013-08-02',
 '2005-05-18',
 '2003-12-09',
 '2014-02-10',
 '1998-06-19',
 '2014-10-02',
 '2004-10-22',
 '2012-02-21',
 '2001-05-04',
 '2000-10-23',
 '2006-12-20',
 '2004-03-31',
 '2003-06-20',
 '2009-11-17',
 '1998-08-13',
 '2004-08-05',
 '2002-03-22',
 '2007-10-23',
 '2006-09-22',
 '2013-01-17',
 '2014-01-15',
 '1996-05-03',
 '2015-01-28',
 '2016-10-07',
 '1997-10-29',
 '1999-09-15',
 '2007-08-03',
 '2013-10-10',
 '2013-12-30',
 '1997-07-15',
 '2015-06-19',
 '2014-09-24',
 '2006-03-28',
 '2006-03-31',
 '2000-06-09',
 '2009-04-02',
 '1999-07-13',
 '2005-03-16',
 '2009-06-12',
 '2004-04-29',
 '2004-12-30',
 '1999-03-30',
 '2012-02-08',
 '2004-03-30',
 '2007-08-16',
 '2006-10-06',
 '2007-04-26',
 '2008-02-01',
 '2013-05-17',
 '1996-10-21',
 '2014-10-22',
 '2011-01-03',
 '1996-06-26',
 '2006-12-13',
 '2016-08-15',
 '2002-03-19',
 '1998-09-01',
 '2015-02-06',
 '2006-10-24',
 '2015-06-01',
 '1997-11-20',
 '1997-11-05',
 '2014-10-03',
 '2012-07-27',
 '2007-06-14',
 '2009-11-13',
 '2001-04-24',
 '2005-02-22',
 '1996-12-17',
 '2005-10-13',
 '2007-07-18',
 '2005-07-06',
 '2005-07-21',
 '2008-09-18',
 '2006-05-04',
 '2012-11-02',
 '2002-10-16',
 '2004-02-18',
 '2008-07-30',
 '2005-02-17',
 '2013-11-13',
 '2006-10-12',
 '2004-10-29',
 '2015-11-20',
 '2014-10-15',
 '2003-02-03',
 '2013-02-22',
 '2008-10-17',
 '2000-09-18',
 '2011-07-27',
 '2014-05-20',
 '2013-07-19',
 '2009-07-24',
 '1998-06-19',
 '2014-10-10',
 '2008-04-28',
 '2004-07-13',
 '2010-10-07',
 '2004-06-10',
 '1996-09-30',
 '2005-05-26',
 '2013-04-09',
 '2014-01-30',
 '1997-10-23',
 '2000-09-28',
 '2005-02-03',
 '1999-01-27',
 '2014-03-20',
 '2005-06-29',
 '2005-03-18',
 '2015-06-05',
 '2000-03-10',
 '2016-09-30',
 '2004-02-19',
 '1996-10-04',
 '2007-06-21',
 '2005-04-14',
 '1996-12-27',
 '1999-11-30',
 '2003-11-14',
 '2015-11-03',
 '2015-07-30',
 '2013-05-01',
 '2014-08-06',
 '2010-09-28',
 '1998-09-24',
 '2016-03-10',
 '2014-02-06',
 '2010-04-05',
 '2006-11-15',
 '2008-01-23',
 '2005-02-14',
 '2008-09-18',
 '2001-08-21',
 '2009-10-02',
 '1999-07-09',
 '2014-06-20',
 '2010-07-01',
 '2011-02-04',
 '1997-08-01',
 '2015-10-01',
 '1996-09-27',
 '2016-02-03',
 '2007-04-26',
 '2005-01-26',
 '2006-09-07',
 '1997-03-07',
 '2002-10-11',
 '2010-10-08',
 '1998-09-08',
 '1999-09-23',
 '1998-07-31',
 '2017-01-10',
 '1997-07-02',
 '2012-07-09',
 '2005-06-23',
 '2014-02-06',
 '2003-01-23',
 '1999-07-15',
 '2014-02-12',
 '2014-11-18',
 '2006-10-13',
 '2007-01-31',
 '2013-10-25',
 '2014-01-30',
 '2014-01-16',
 '2015-09-24',
 '2015-06-11',
 '2016-09-22',
 '1996-06-20',
 '2011-04-15',
 '1998-07-28',
 '1997-07-30',
 '1997-01-22',
 '1998-12-28',
 '2013-05-09',
 '1996-11-27',
 '1997-03-06',
 '2014-04-11',
 '2000-07-18',
 '2014-10-01',
 '2016-04-21',
 '2004-01-13',
 '2002-12-12',
 '2012-03-30',
 '2004-07-30',
 '2007-11-09',
 '2011-07-14',
 '2013-03-21',
 '2000-07-11',
 '2010-07-29',
 '2014-10-30',
 '2012-02-08',
 '1999-02-12',
 '2000-03-27',
 '1998-07-28',
 '2014-01-17',
 '2015-03-13',
 '1997-11-18',
 '2015-11-11',
 '2005-11-10',
 '2015-05-12',
 '2000-08-11',
 '2012-06-27',
 '2013-01-22',
 '2014-09-22',
 '2008-07-02',
 '2000-07-21',
 '2013-07-18',
 '2016-07-05',
 '2006-05-05',
 '1997-04-02',
 '1996-11-27',
 '2013-10-31',
 '2013-06-26',
 '2013-10-02',
 '2007-04-04',
 '1996-03-18',
 '2006-09-05',
 '2006-02-03',
 '1996-08-16',
 '1999-01-29',
 '1996-06-25',
 '2015-04-16',
 '2009-09-09',
 '2015-04-29',
 '2016-09-16',
 '2000-08-02',
 '2006-09-27',
 '2014-11-20',
 '2008-10-29',
 '2015-06-05',
 '2013-08-14',
 '1996-11-13',
 '2013-09-25',
 '1998-05-12',
 '2006-08-11',
 '2005-09-23',
 '2013-04-12',
 '2000-03-27',
 '1998-10-05',
 '2001-01-31',
 '2000-04-11',
 '2000-06-30',
 '2001-12-18',
 '2006-10-20',
 '2005-07-20',
 '2010-05-13',
 '2004-08-12',
 '2015-10-27',
 '1999-04-09',
 '2015-02-13',
 '2014-11-19',
 '2010-05-24',
 '2012-10-12',
 '2007-10-31',
 '1997-09-18',
 '2013-10-01',
 '2012-05-18',
 '1997-04-30',
 '2011-09-16',
 '2011-11-17',
 '2017-02-10',
 '2011-06-30',
 '2000-04-14',
 '1996-12-05',
 '1999-01-04',
 '2013-02-14',
 '2014-08-01',
 '1998-09-11',
 '1996-05-09',
 '2015-10-29',
 '2009-10-21',
 '2015-10-15',
 '1997-10-24',
 '1996-06-28',
 '1997-11-10',
 '2014-06-18',
 '2011-05-12',
 '2012-04-12',
 '2013-09-20',
 '2008-07-14',
 '1996-07-19',
 '2006-12-19',
 '1999-06-04',
 '2007-10-10',
 '2014-11-03',
 '2016-07-20',
 '2014-11-14',
 '2016-08-04',
 '2013-08-09',
 '2010-03-24',
 '1998-05-14',
 '2001-06-20',
 '1999-06-25',
 '2015-06-18',
 '2013-12-06',
 '2012-07-19',
 '2014-04-04',
 '1997-06-27',
 '2011-02-10',
 '2016-09-29',
 '2015-01-29',
 '2001-03-23',
 '2000-12-01',
 '2010-12-15',
 '1999-08-03',
 '2014-02-12',
 '2006-05-25',
 '2000-01-03',
 '2013-09-25',
 '1999-12-31',
 '1996-09-17',
 '2014-10-03',
 '1998-05-11',
 '2010-06-25',
 '2010-03-16',
 '1998-11-05',
 '2007-03-16',
 '1999-11-12',
 '2017-03-27',
 '2017-01-20',
 '2008-10-27',
 '2015-01-30',
 '2007-05-31',
 '2014-09-18',
 '2007-12-12',
 '2015-11-04',
 '2003-06-12',
 '1996-11-27',
 '1997-10-20',
 '2013-08-08',
 '2007-12-18',
 '2014-04-11',
 '2013-09-18',
 '2017-01-20',
 '2011-07-22',
 '2012-04-26',
 '1998-12-02',
 '2014-11-07',
 '2014-05-02',
 '2016-10-20',
 '2013-10-04',
 '2012-07-10',
 '2008-10-07',
 '2006-11-17',
 '2008-10-27',
 '2005-02-15',
 '2015-06-02',
 '2013-10-10',
 '2001-06-14',
 '2009-11-18',
 '2015-06-05',
 '2016-06-14',
 '2001-12-17',
 '2013-01-10',
 '2014-07-08',
 '2014-10-15',
 '2007-08-02',
 '1999-10-29',
 '2002-09-04',
 '2005-10-06',
 '1999-02-11',
 '2005-10-03',
 '2015-08-12',
 '2010-12-15',
 '1998-12-30',
 '2015-06-23',
 '2016-01-26',
 '2015-04-01',
 '1999-01-04',
 '2010-07-22',
 '1999-06-11',
 '1996-11-27',
 '2016-08-05',
 '2000-12-29',
 '2002-10-10',
 '2001-01-02',
 '1997-11-21',
 '1996-07-31',
 '1996-08-08',
 '2011-02-09',
 '2007-03-16',
 '2006-06-13',
 '2013-05-17',
 '2000-07-24',
 '1999-03-10',
 '2005-09-29',
 '2004-05-06',
 '1998-10-07',
 '1997-04-04',
 '2000-02-18',
 '1998-06-17',
 '2015-06-25',
 '2009-09-15',
 '2013-01-29',
 '2012-08-10',
 '2014-03-13',
 '2014-07-18',
 '2012-03-30',
 '2014-05-07',
 '2005-09-29',
 '2008-12-18',
 '2013-10-14',
 '2007-05-24',
 '2007-03-22',
 '2014-01-10',
 '2010-11-18',
 '2002-02-13',
 '2012-08-03',
 '2011-04-08',
 '2016-06-29',
 '2016-05-26',
 '2014-08-08',
 '2011-04-01',
 '2014-02-05',
 ...]

In [8]:
# Generating 6 month return
six_month_return = []

for date in ipoDATE:
    date = pd.to_datetime(date)
    start_date = date - pd.DateOffset(months=6)
    end_date = date
    sp500 = yf.download('^GSPC', start=start_date, end=end_date)
    six_month_return.append((sp500['Adj Close'][-1] - sp500['Adj Close'][0]) / sp500['Adj Close'][0])
    
#REF1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

KeyboardInterrupt:

In [ ]:
# Generating 3 month return
three_month_return = []


for date in ipoDATE:
    date = pd.to_datetime(date)
    start_date = date - pd.DateOffset(months=3)
    end_date = date
    sp500 = yf.download('^GSPC', start=start_date, end=end_date)
    three_month_return.append((sp500['Adj Close'][-1] - sp500['Adj Close'][0]) / sp500['Adj Close'][0])
    
# REF1

In [ ]:
#creating columns for the market returns of 3 and 6 months

df = df.assign(markReturn3mo=three_month_return)
df = df.assign(markReturn6mo=six_month_return)

In [ ]:
df

In [ ]:
#due to extensive time to generate market returns, storing values in an updated .csv file named IPODATA
#further work will be done using IPODATA.csv

df.to_csv('IPODATA.csv', index=False)

### References

* REF1 https://pypi.org/project/yfinance/